<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Toutes les Classes</title>
</head>
<body>
<table border="1">
  <th>SIGLE</th>
  <th>ANNEE</th>
  <th>SPECIALITE</th>
  <th>NBRELEVES</th>
  <tr th:each="uneClasse : ${mesClasses}">
    <td th:text="${uneClasse.sigle}"/>
    <td th:text="${uneClasse.annee}"/>
    <td th:text="${uneClasse.specialite}"/>
    <td th:text="${uneClasse.nbreleves}"/>
  </tr>
</table>
<a href="/">retour</a>
</body>
</html>